
.Ejercicios-Wrapper{
    margin: var(--margin-page);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}
.Ejercicio-general{
    --padding:15px;
    --radio-interno:5px;
    max-width: 600px;
    height: 500px;
    display: flex;
    gap: 10px;
    padding: var(--padding);
   background-color: rgb(5, 4, 4);
   border-radius: 4px;
    overflow: auto;
    scroll-snap-type: x mandatory;  
    scrollbar-width: none;
}
.ejercicio-card{

position: relative;
min-width: calc(100% - 32px);
overflow: hidden;
scroll-snap-align: center;
border-radius: var(--radio-interno);
}

.cover-art{
    width: 100%;
    height: 100%;
    display: block;
}
.Tipo-ejercicio{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 29px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(245, 243, 242);
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.01) 8.1%,
        hsla(0, 0%, 0%, 0.037) 15.5%,
        hsla(0, 0%, 0%, 0.08) 22.5%,
        hsla(0, 0%, 0%, 0.135) 29%,
        hsla(0, 0%, 0%, 0.2) 35.3%,
        hsla(0, 0%, 0%, 0.271) 41.2%,
        hsla(0, 0%, 0%, 0.347) 47.1%,
        hsla(0, 0%, 0%, 0.423) 52.9%,
        hsla(0, 0%, 0%, 0.499) 58.8%,
        hsla(0, 0%, 0%, 0.57) 64.7%,
        hsla(0, 0%, 0%, 0.635) 71%,
        hsla(0, 0%, 0%, 0.69) 77.5%,
        hsla(0, 0%, 0%, 0.733) 84.5%,
        hsla(0, 0%, 0%, 0.76) 91.9%,
        hsla(0, 0%, 0%, 0.77) 100%
      );
}

