
.Ejercicios-Wrapper{
    
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    padding: 130px;
}
.Ejercicio-general{
    max-width: 600px;
    height: 500px;
    display: flex;
    gap: 10px;
    background-color: rgb(5, 4, 4);
    overflow: auto;
    scroll-snap-type: x mandatory;  
    scrollbar-width: none;
}
.ejercicio-card{
position: relative;
min-width: calc(100% - 32px);
overflow: hidden;
scroll-snap-align: center;
}
.cover-art{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.Tipo-ejercicio{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 29px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(245, 243, 242);
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.01) 8.1%,
        hsla(0, 0%, 0%, 0.037) 15.5%,
        hsla(0, 0%, 0%, 0.08) 22.5%,
        hsla(0, 0%, 0%, 0.135) 29%,
        hsla(0, 0%, 0%, 0.2) 35.3%,
        hsla(0, 0%, 0%, 0.271) 41.2%,
        hsla(0, 0%, 0%, 0.347) 47.1%,
        hsla(0, 0%, 0%, 0.423) 52.9%,
        hsla(0, 0%, 0%, 0.499) 58.8%,
        hsla(0, 0%, 0%, 0.57) 64.7%,
        hsla(0, 0%, 0%, 0.635) 71%,
        hsla(0, 0%, 0%, 0.69) 77.5%,
        hsla(0, 0%, 0%, 0.733) 84.5%,
        hsla(0, 0%, 0%, 0.76) 91.9%,
        hsla(0, 0%, 0%, 0.77) 100%
      );
}
.wrapper-subscripciones-etiquetas{
    font-family: "Manrope", sans-serif;
    color: white;
    border-radius: 18px;
    background-color: rgb(36,36,36);
    width: 400px;
    margin: 0px auto;
}
.contenedor-informacion-etiquetas-suscripciones{
    margin:15px 40px;
}
.contenedor-logo-suscripciones{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.contenedor-imagen-logo{
    width: 40px;
    height: 40px;
}

.imagen-logo{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}
.premium-subtitle{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
}
.subtitulo-etiqueta-pago{
    margin: 0;
    text-align: center;
    font-size: 2.8rem; 
}
.primero{
    color: #C4B1D3;
}
.segundo{
    color: rgb(254,200,98);

}
.divisor-etiqueta-subs{
    border: none;
    height: 1px;
    margin: 16px 20px;
    color: hsl(100 100 100 /0.1);
    background-color:hsl(100 100 100 /0.1);
}
.information-etiquetas-subscripcion{
   margin-right: 20px;
    font-size: 1rem;
}
.etiquetas-subscripcion{
    margin: 10px 0px;
}
.buttom-subscribirse{
    margin: auto;
    height: 60px;
    width: 320px;
    color: black;
    display: grid;
    place-content: center;
    border-radius: 40px;
    margin-top: 90px;
    cursor: pointer;
    transition: transform 500ms;
}
.buttom-subscribirse:hover{
    transform: scale(1.1);
    transition: transform 250ms;
}
.info-buttom{
    font-weight: bold;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
}
.estudiantes{
    background-color:#C4B1D3 ;
}
.duo{
background-color:rgb(254,200,98) ;
}

