body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
html{
    --margin-page:50px;
    --imagen-facebook:url("/img/facebook.svg");
    --imagen-twitter:url("/img/twitterlogo.svg");
    --imagen-instagram:url("/img/intagram.svg");
    background-color: black;
}
@font-face{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100 900;
    display: fallback;
    src:url(/fonts/robotoslab.woff2)format('woff2');
}
@font-face{
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 100 900;
    display: fallback;
    src:url(/fonts/archiveBlack.woff2)format('woff2');
}

.Wrapper{
    --backgroun-imagen:url("/img/fondodestop.png");
    background-image:   var(--backgroun-imagen),linear-gradient(0deg, rgba(255, 210, 215, 0) 0%, #ffd2d7 100%);
    background-size: min(60%, 800px), 100% 40%;
    background-position: right top, center -30%;
    background-repeat: no-repeat; 
   min-height: 480px;
   
}

.Wrapper-Title{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: fit-content;
    padding: 56px 32px;
    margin-left: 90px;
    height: fit-content;
    cursor:default;     
}
.title{
    position: relative;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 15rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -30px;   
}

.sub-title{
    align-self: flex-end;
    position: relative;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    margin-top: -25px;
    margin-left: 0px;
    margin-right: 13px;
    margin-bottom: 0px;
    
    
}


.overposition{
position: absolute;
top:0;
left: 0;
color: rgb(122, 128, 167);
transition: clip-path 600ms;
clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 100%,
    0% 100%);
}

.Wrapper-Title:hover .overposition{
   clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%
    );
    transition: clip-path 300ms;
}

.wrapper-image{
flex: 1;
min-width: 350px;
overflow: hidden;
}


.imagen1{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 500ms; 
    transform-origin:  top right;
}

.wrapper-image:hover .imagen1{
    transition: transform 300ms; 
    transform: scale(1.1);
    transform-origin:  top right;
}
